<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="contact.css">
</head>

<body>
    <nav class="navbar">
        <a href="D:\CODSOFT\index.html" class="logo">PORTFOLIO </a>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul>
            <li><a href="../home/index.html">HOME</a></li>
            <li><a href="../skills/index.html">SKILLS</a></li>
            <li><a href="../projects/index.html">PROJECTS</a></li>
            <li><a href="../about/index.html">ABOUT</a></li>
            <li><a href="../contacts/index.html" class="active">CONTACT</a></li>
        </ul>
    </nav>
    <!-- <div class="contact-container">
        
            <h1>Contact Me</h1>
            <br>
            <p>If you have any questions or would like to get in touch, feel free to reach out!</p>
            
        
    </div> -->
    <div class="contact-container">
        <h1>Contact Us</h1>
        <div class="contact-content">
            <p>Feel free to reach out to me for any questions or opportunities. I'm always open to discussing new
                projects, creative ideas, or opportunities to be part of your visions.</p>
            <div class="email-icon">
                <i class='bx bx-envelope' id="icon"> </i>
                <a href="mailto:malavathnareshnayak123@gmail.com" class="email-link">
                    Email: malavathnareshnayak123@gmail.com</i>
                </a>
            </div>
                <div class="phone-icon">
                    <i class='bx bx-mobile' id="icon-phone"> Phone: +916305705484</i>
                </div>

                <div class="location-icon">
                    <i class='bx bx-map' id="loc-icon" >Location: Hyderabad, India </i>
                </div>
        </div>
    </div>
</body>

</html>