<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="skills.css">
</head>

<body>
    <nav class="navbar">
        <a href="D:\CODSOFT\index.html" class="logo">PORTFOLIO </a>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul>
            <li><a href="../home/index.html">HOME</a></li>
            <li><a href="../skills/index.html" class="active">SKILLS</a></li>
            <li><a href="../projects/index.html">PROJECTS</a></li>
            <li><a href="../about/index.html">ABOUT</a></li>
            <li><a href="../contacts/index.html">CONTACT</a></li>
        </ul>
    </nav>
    <div class="main-skill">
        <div class="skill__container__title">
            <h1>MY SKILLS</h1>
        </div>
        <div class="skill__container__content">
            <div class="skill__container__content__item">
                <i class='bx bxl-html5'></i>
                <h3>HTML</h3>
                <p>HTML is the standard markup language for creating web pages and web applications.</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="skill__container__content__item">
                <i class='bx bxl-css3'></i>
                <h3>CSS</h3>
                <p>CSS is used to style and layout web pages, including colors, fonts, and responsive designs.</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="skill__container__content__item">
                <i class='bx bxl-javascript'></i>
                <h3>JavaScript</h3>
                <p>JavaScript is a programming language that allows you to implement complex features on web pages.</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="skill__container__content__item">
                <i class='bx bxl-bootstrap'></i>
                <h3>Bootstrap</h3>
                <p>Bootstrap is a free, open-source front-end framework for creating responsive web applications and websites. </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
            </div>
            <div class="skill__container__content__item">
                <i class='bx bxl-react'></i>
                <h3>React</h3>
                <p>React is a JavaScript library for building user interfaces or UI components.</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="skill__container__content__item">
                <i class='bx bxl-python'></i>
                <h3>Python</h3>
                <p>Python is a high-level, interpreted programming language known for its readability and versatility.
                </p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <footer class="footer">Developed Naresh</footer>

</body>

</html>