<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="projects.css">
</head>
<body>
    <nav class="navbar">
        <a href="D:\CODSOFT\index.html" class="logo">PORTFOLIO </a>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul>
            <li><a href="../home/index.html" >HOME</a></li>
            <li><a href="../skills/index.html">SKILLS</a></li>
            <li><a href="../projects/index.html" class="active">PROJECTS</a></li>
            <li><a href="../about/index.html">ABOUT</a></li>
            <li><a href="../contacts/index.html" >CONTACT</a></li>
        </ul>
    </nav>
    <div class="project__container__title">
        <h1>PROJECTS </h1>
        <p>Here are some of the projects I have worked on:</p>
    </div>
    <div class="project__container">
        <div class="project__card">
            <h2>Project 1</h2>
            <h3>Portfolio</h3>
            <p>Personal Portfolio Website is a responsive and visually appealing platform to showcase my skills, projects, and achievements. It highlights my background, technical expertise, and work experience, with sections for a resume, project gallery, and contact form. Built using modern web technologies, it serves as a digital resume to connect with potential clients or employers.</p>
            <a href="#" class="project__file">View Project</a>
        </div>
        <div class="project__card">
            <h2>Project 2</h2>
            <h3>Trouism Website</h3>
            <p>Telangana Tourism Website is an informative and user-friendly platform designed to showcase the rich cultural heritage, historical landmarks, natural beauty, and vibrant festivals of Telangana. It provides details about popular tourist destinations helping travelers plan their visits easily. The website also promotes eco-tourism, adventure spots, and local cuisine, making it a one-stop destination for exploring the wonders of Telangana.</p>
            <a href="#" class="project__file">View Project</a>
        </div>
        <!-- <div class="project__card">
            <h2>Project 3</h2>
            <p>Description of Project 3.</p>
            <a href="#">View Project</a>
        </div> -->
        </div>
</body>
</html>