<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--navbar-->

    <nav class="navbar">
        <a href="D:\CODSOFT\index.html" class="logo">NARESH M </a>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul>
            <li><a href="#" class="active">HOME</a></li>
            <li><a href="../skills/skills.html">SKILLS</a></li>
            <li><a href="../projects/project.html">PROJECTS</a></li>
            <li><a href="../about/about.html">ABOUT</a></li>
            <li><a href="../contacts/contact.html">CONTACT</a></li>
        </ul>
    </nav>

    <!--home-->

    <setion class="home">
        <div class="home-info">
            <h1>MALAVATH NARESH</h1>
            <h2>I'm a Frontend Developer</h2>
            <p>As a Frontend Developer, I specialize in creating responsive, user-friendly web interfaces that blend performance with aesthetics. My role involves translating UI/UX design wireframes into clean, efficient, and accessible code using modern frontend technologies. I focus on building interactive features, ensuring cross-browser compatibility, optimizing page performance, and delivering seamless user experiences. </p>
            <div class="resume">
                <a href="/component/home/resume.pdf" class="download">Download CV </a>
                <div class="links">
                    <a href="https://github.com/MALAVATHNARESH" download><i class='bx bxl-github'></i></a>
                    <a href="https://www.linkedin.com/in/malavath-naresh-88b7a1274/"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i> </a>
                </div>
            </div>
        </div>

        <!--adding image-->

        <div class="img-container">
            <div class="img-box">
                <div class="img-item">
                    <img src="./akhilphoto.pdf.jpg" alt="Developer">
                </div>
            </div>
        </div>

    </setion>
<!--home end-->
   
</body>

</html>