<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <nav class="navbar">
        <a href="D:\CODSOFT\index.html" class="logo">PORTFOLIO </a>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul>
            <li><a href="../home/index.html">HOME</a></li>
            <li><a href="../skills/index.html">SKILLS</a></li>
            <li><a href="../projects/index.html">PROJECTS</a></li>
            <li><a href="../about/index.html" class="active">ABOUT</a></li>
            <li><a href="../contacts/index.html">CONTACT</a></li>
        </ul>
    </nav>
    <div class="about-container">
        <div class="content">
            <h1>About Me</h1>
            <p>Hi, I'm a passionate web developer with a love for creating dynamic and user-friendly websites. I have
                experience in HTML, CSS, JavaScript, and various frameworks. I enjoy learning new technologies and
                improving my skills.</p>
            <p>In my free time, I like to explore new programming languages, work on personal projects, and contribute
                to open-source initiatives. I'm always looking for opportunities to collaborate and grow as a developer.
            </p>
            <a href="../contacts/contact.html" class="hire">hire me </a>
        </div>
    </div>

</body>

</html>